In [2]:
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'
import os
import glob

bbcdirs = os.listdir("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc")
bbcdirs[0:5]

## Iterate and get all the folders
folder_name = []
for i in os.listdir("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc\\"):
    if ".TXT" not in i:
        folder_name.append(i)
folder_name

['business', 'entertainment', 'politics', 'sport', 'tech']

In [4]:
dataset = []
uniquewords = []
for i in folder_name:
    for j in glob.glob("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc\\"+i+"\\*.txt")[0:20]:
        f = open(j)
        content = f.read()
        for word in content.lower().split():
            if word not in uniquewords:
                uniquewords.append(word)

len(uniquewords)

8463

In [ ]:
weightage_data = []
for i in folder_name:
    for j in glob.glob("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc\\"+i+"\\*.txt"):
        f = open(j)
        content = f.read()
        for uniqueword in uniquewords:
            weightage_data.append([folder_name,uniqueword, content.count(uniqueword)])
len(weightage_data)

In [5]:
chr(65)

'A'

In [7]:
for i in range(65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [28]:
for i in range(90,64,-1):
    print(chr(i))

Z
Y
X
W
V
U
T
S
R
Q
P
O
N
M
L
K
J
I
H
G
F
E
D
C
B
A

In [54]:
## print 
## AaZz
## BbYy
## ....
## ....
## ZzAa

chr(65)
chr(97)
chr(90)
chr(122)
print('************')
val = ''
for i in range(65,91):
   chr(i)+chr(i).lower()+chr(155-i)+chr(155-i).lower()

'A'

'a'

'Z'

'z'

************

'AaZz'

'BbYy'

'CcXx'

'DdWw'

'EeVv'

'FfUu'

'GgTt'

'HhSs'

'IiRr'

'JjQq'

'KkPp'

'LlOo'

'MmNn'

'NnMm'

'OoLl'

'PpKk'

'QqJj'

'RrIi'

'SsHh'

'TtGg'

'UuFf'

'VvEe'

'WwDd'

'XxCc'

'YyBb'

'ZzAa'

In [55]:
data = [1,2,3,'data science',2.6,7.8]
sum = 0
for i in data:
    if type(i) != str:
        sum = sum + i

print(sum)

## we cannot use isApha() here as for elements 1,2 etc isAlpha will give error .. i.e. i.isAlpha() wont work

16.4

In [57]:
### Approach using 1 loop
data = 'I like data science and machine learning'
for i in range(1, len(data)+1):
    print(data[0:i])

I
I
I l
I li
I lik
I like
I like
I like d
I like da
I like dat
I like data
I like data
I like data s
I like data sc
I like data sci
I like data scie
I like data scien
I like data scienc
I like data science
I like data science
I like data science a
I like data science an
I like data science and
I like data science and
I like data science and m
I like data science and ma
I like data science and mac
I like data science and mach
I like data science and machi
I like data science and machin
I like data science and machine
I like data science and machine
I like data science and machine l
I like data science and machine le
I like data science and machine lea
I like data science and machine lear
I like data science and machine learn
I like data science and machine learni
I like data science and machine learnin
I like data science and machine learning

### while loop

In [58]:
x = 10
while x < 20:
    print(x)
    x = x + 1

10
11
12
13
14
15
16
17
18
19

In [59]:
x = [1,2,3,4]
for i in x:
    print(i)
    if i==2:
        break

1
2

In [60]:
x = [1,2,3,4]
for i in x:
    if i == 2:
        continue
    print(i)

1
3
4

In [61]:
countofstars = 8
for i in range(0, countofstars):
    for k in range(countofstars, i, -1):
        print(end=' ')
    for j in range(0, (i+1)):
        print('* ',end='')
    print()

for i in range(countofstars-1, 0 , -1):
    for k in range(i, countofstars+1):
        print(end=' ')
    for j in range(0, i):
        print('* ',end='')
    print()

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [66]:
print((1 * '* ').center(20," "))
print((2 * '* ').center(20," "))
print((3 * '* ').center(20," "))

         *
        * *
       * * *

In [71]:
countofstars = 8
for i in range(1, countofstars):
    print((i * '* ').center(20," "))
for j in range(countofstars-2, 0, -1):
    print((j * '* ').center(20," "))

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [77]:
countofstars = 8
i = 0
while i < countofstars:
    i = i + 1
    print((i * '* ').center(20," "))

while i > 0:
    i = i - 1
    print((i * '* ').center(20," "))

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

### Dictionary

In [80]:
d = {"maths" : np.random.randint(0,100,100), "physics" : np.random.randint(0,100,100), "chemistry" : np.random.randint(0,100,100)}

In [81]:
d["maths"]

array([92, 87, 73, 91, 93, 63, 40,  3, 21, 34, 55, 96, 66, 22, 30, 76,  5,
       80, 48, 87, 66, 84,  9, 14, 81, 40, 70, 12, 74, 84, 38, 89, 88, 61,
       77, 26, 72, 82, 65, 32, 74, 35, 64,  6,  5,  6, 80, 57, 60, 64, 89,
       71,  3, 73, 61, 39, 19, 41, 31,  4, 20,  4, 95, 84, 14,  2, 63, 27,
       68,  3, 26, 58, 27, 14, 58, 26, 81, 98, 14, 10,  8, 84, 68, 62, 82,
       88, 25, 32, 72, 32,  5,  7, 98,  7, 68,  6, 55, 80, 71, 38])

In [82]:
d.keys()

dict_keys(['maths', 'physics', 'chemistry'])

In [83]:
d.values()

dict_values([array([92, 87, 73, 91, 93, 63, 40,  3, 21, 34, 55, 96, 66, 22, 30, 76,  5,
       80, 48, 87, 66, 84,  9, 14, 81, 40, 70, 12, 74, 84, 38, 89, 88, 61,
       77, 26, 72, 82, 65, 32, 74, 35, 64,  6,  5,  6, 80, 57, 60, 64, 89,
       71,  3, 73, 61, 39, 19, 41, 31,  4, 20,  4, 95, 84, 14,  2, 63, 27,
       68,  3, 26, 58, 27, 14, 58, 26, 81, 98, 14, 10,  8, 84, 68, 62, 82,
       88, 25, 32, 72, 32,  5,  7, 98,  7, 68,  6, 55, 80, 71, 38]), array([76, 33, 72,  6, 29, 46, 38, 71, 83, 88, 28, 27, 31, 47, 26, 19, 18,
       37, 75, 81, 89, 67, 43, 77, 77,  5, 88, 82, 27, 63, 73, 53, 62, 94,
       76, 39, 49, 71, 29, 98, 22, 37, 77, 62, 17, 56, 40, 77, 69,  7,  2,
       23, 86, 78, 56, 73, 63, 53, 81, 14, 55, 18,  3, 80, 67, 30, 43, 55,
       99, 27, 95, 31, 38, 69, 13, 29, 88,  4, 94, 74, 70, 88, 46, 44, 41,
       48, 14, 63,  3, 63, 30, 99, 48, 64, 28, 82, 77, 31, 78, 36]), array([65, 63, 21, 87, 65, 65,  6, 25, 92, 10, 20, 72, 90, 89, 68, 76, 47,
        9, 31,  7, 65, 79, 17, 89, 56, 21, 70, 90, 69, 39, 29, 12, 52, 79,
        7, 14, 78, 46,  9, 50, 19,  9, 78, 38, 71, 98, 45, 65, 59,  4,  8,
       68, 76,  2,  2, 28,  4, 65, 15,  2, 69, 94, 64,  6, 58,  9, 61, 40,
        4,  5, 79, 10,  0, 95, 39, 91, 35, 31,  3,  4, 35, 79, 20, 45, 43,
       48, 74, 65, 74,  9, 93, 20, 31, 69, 86, 90, 53, 48, 17, 95])])

### Homework

<h3>
<pre>
Pattern 1

   1
  2 2
 3 3 3
4 4 4 4
</pre>
</h3>

In [13]:
pyramid_size = 5
for i in range(1,pyramid_size):
    val = str(i) + ' '
    print((i * val).center(20," "))

         1
        2 2
       3 3 3
      4 4 4 4

<h3>
<pre>
Pattern 2

   1
  1 2
 1 2 3
1 2 3 4
</pre>
</h3>

In [25]:
pyramid_size = 5
for i in range(1,pyramid_size+1):
    val = ''
    for j in range(1, i):
       val = val + str(j) + ' '
    print(val.center(20," "))

         1
        1 2
       1 2 3
      1 2 3 4

<h3>
<pre>
Pattern 3

5 4 3 2 1
 5 4 3 2
  5 4 3
   5 4
    5
</pre>
</h3>

In [32]:
pyramid_size = 5
for i in range(0, pyramid_size, 1):
    val=''
    for j in range(pyramid_size, i, -1):
        val = val + str(j) + ' '
    print(val.center(20," "))

     5 4 3 2 1
      5 4 3 2
       5 4 3
        5 4
         5

<h3>
<pre>
Pattern 4

    5
   5 4
  5 4 3
 5 4 3 2
5 4 3 2 1
</pre>
</h3>

In [42]:
pyramid_size = 5
for i in range(pyramid_size,0, -1):
    val=''
    for j in range(pyramid_size,i-1, -1):
        val = val + str(j) + ' '
    print(val.center(20," "))

         5
        5 4
       5 4 3
      5 4 3 2
     5 4 3 2 1

<h3>
<pre>
Pattern 5

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1
</pre>
</h3>

In [46]:
pyramid_size = 5
for i in range(pyramid_size,0, -1):
    val=''
    for j in range(1,i+1, 1):
        val = val + str(j) + ' '
    print(val.center(20," "))

     1 2 3 4 5
      1 2 3 4
       1 2 3
        1 2
         1

<h3>
<pre>
Pattern 6

   1
  2 3
 4 5 6
7 8 9 10
</pre>
</h3>

In [53]:
pyramid_size = 5
counter = 0
for i in range(1,pyramid_size, 1):
    val=''
    for j in range(0,i, 1):
        counter = counter + 1
        val = val + str(counter) + ' '
    print(val.center(20," "))

         1
        2 3
       4 5 6
     7 8 9 10

<h3>
<pre>
Pattern 7

   1
  2 1
 3 2 1
4 3 2 1
</pre>
</h3>

In [54]:
pyramid_size = 5
for i in range(1,pyramid_size):
    val=''
    for j in range(i, 0, -1):
        val = val + str(j) + ' '
    print(val.center(20," "))

         1
        2 1
       3 2 1
      4 3 2 1

<h3>
<pre>
Pattern 8

   1
  2 7
 3 8 13
4 9 14 19
</pre>
</h3>

In [71]:
pyramid_size = 5
for i in range(1,pyramid_size):
    val=''
    for j in range(i,i*5,5):
        val = val + str(j) + ' '
    print(val.center(20," "))

         1
        2 7
      3 8 13
     4 9 14 19

<h3>
<pre>
Pattern 9

     1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1
</pre>
</h3>

In [25]:
n = 5
for line in range(1, n + 1):  
    C = 1;
    val=''
    for i in range(1, line + 1):
        val = val + str(C) + ' '
        C = int(C * (line - i) / i);
    print(val.center(20," "))

         1
        1 1
       1 2 1
      1 3 3 1
     1 4 6 4 1

<h3>
<pre>
Pattern 10

   5
  4 5
 3 4 5
2 3 4 5
</pre>
</h3>

In [26]:
pyramid_size = 5
for i in range(pyramid_size+1, 1, -1):
    val = ''
    for j in range(i-1, pyramid_size+1):
        val = val + str(j) + ' '
    print(val.center(20," "))

         5
        4 5
       3 4 5
      2 3 4 5
     1 2 3 4 5

<h3>
<pre>
Pattern 11

   1
  121
 12321
1234321
</pre>
</h3>

In [45]:
pyramid_size = 5
for i in range(1, pyramid_size*2 , 2):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
123
12345
1234567
123456789

<h3>
<pre>
Pattern 12

   1
  1 0
 1 0 1
1 0 1 0 
</pre>
</h3>

<h3>
<pre>
Pattern 13

    1
   2 6
  3 7 10
 4 8 11 13
5 9 12 14 15
</pre>
</h3>

<h3>
<pre>
Pattern 14

    1
   2 9
  3 8 10
 4 7 11 14
5 6 12 13 15
</pre>
</h3>