<h1> Day 4 - Class </h1>

In [2]:
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

## Numpy Log Functions

In [3]:
np.log(1)

np.log10(1)

np.log2(1)

np.logaddexp(1,2)

np.logaddexp2(1,2)

0.0

0.0

0.0

2.313261687518223

2.584962500721156

## Numpy Trigonometric Functions

In [4]:
np.sin(1)

np.cos(1)

np.tan(1)

np.sinc(1)

np.sinh(1)

0.8414709848078965

0.5403023058681398

1.5574077246549023

3.8981718325193755e-17

1.1752011936438014

## Numpy Array Functions

In [5]:
np.unique([1,2,3,4,1])

array([1, 2, 3, 4])

## Numpy Math Functions

In [10]:
np.add(2,3)
np.subtract(4,1)
np.multiply(4,3)
np.divide(12,3)

5

3

12

4.0

In [6]:
np.sqrt(16)
np.max([12,1,4,7])
np.min([12,1,4,7])
np.square(4)
np.expm1(10)
np.exp(2)

4.0

12

1

16

22025.465794806718

7.38905609893065

## Math Package

In [8]:
import math
math.e
pow(math.e,2)

x = pow(math.e,2)
y = np.exp(2)

# x is same as y

2.718281828459045

7.3890560989306495

False

## Read Input From User

In [9]:
a = input()

sanooj

In [10]:
type(a)

str

In [11]:
a = int(input())

12

In [12]:
type(a)

int

## Control Structures & Loops
- if
- if - else
- if - elif - else
- while
- for
- break
- continue
- with

### If condition

In [28]:
x = int(input())
if x > 5:
    print(x+2)

6
8

In [32]:
data = input()
if len(data) > 5:
    print(data.capitalize())

sanooj padmakumar
Sanooj padmakumar

In [44]:
data = input()
if len(data) > 5:
    print(data.capitalize())
else:
    print(data[0:len(data)-1] + data[len(data)-1:len(data)].upper())

sanooj
Sanooj

In [48]:
if True:
    print('pass-1')

if 100:
    print('pass-2')
    
if 0:
    print('pass-3')

pass-1
pass-2

### If - elif - else

In [51]:
a = input()
if len(a) > 5:
    print(a.upper())
elif len(a)==5:
    print(a.lower())
else:
    print(a.capitalize())

sam
Sam

In [54]:
data = int(input())
if data%2 == 0:
    print(pow(data,2))
elif data%3 == 0:
    print(pow(data,3))
else:
    print(pow(data,4))

7
2401

In [56]:
data = int(input())
if data/2:
    print(pow(data,2))
elif data/3:
    print(pow(data,3))
else:
    print(pow(data,4))

9
81

### For loop

<pre>for << var >> in << index based datastructure >>:</pre>

In [57]:
x = 'data'
for i in x:
    print(i)

d
a
t
a

In [58]:
x = [1,2,3,4,5,'data science']
for i in x:
    print(i)

1
2
3
4
5
data science

In [65]:
data = np.random.randint(0,100,10)
for i in data:
    if(i%2):
        print(i,',even')
    else:
        print(i,',odd')

83 ,even
34 ,odd
30 ,odd
55 ,even
55 ,even
1 ,even
20 ,odd
86 ,odd
31 ,even
90 ,odd

### Range function

In [13]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [14]:
for x in range(6,10):
    print(x)

6
7
8
9

In [16]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

### Pass statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [17]:
for x in [0, 1, 2]:
    pass

### List Comprehension

In [20]:
numbers = [12, 34, 1, 4, 4, 67, 37, 9, 0, 81]

result = [number for number in numbers if number > 5]

print(result)

[12, 34, 67, 37, 9, 81]

In [21]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
9

In [24]:
squares = [z**2 for z in range(10)]
print(squares)
z

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

NameError: name 'z' is not defined

In [25]:
squares = [z**2 for z in range(10) if z%3 == 0]
print(squares)

[0, 9, 36, 81]

## Lamda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

lambda arguments : expression

In [26]:
x = lambda a : a + 10
print(x(5))

15

In [27]:
y = lambda b : b * b
print(y(4))

16

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [30]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

## Browsing directories & filesystem

In [66]:
import os
bbcdirs = os.listdir("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc")
bbcdirs[0:5]

['business', 'entertainment', 'politics', 'README.TXT', 'sport']

In [67]:
import glob
glob.glob("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc\\*.txt")

['D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc\\README.TXT']

In [68]:
f = open('D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc\\README.TXT')
f.read()

'Consists of 2225 documents from the BBC news website corresponding to stories in five topical areas from 2004-2005.\nNatural Classes: 5 (business, entertainment, politics, sport, tech)\n\nIf you make use of the dataset, please consider citing the publication: \n- D. Greene and P. Cunningham. "Practical Solutions to the Problem of Diagonal Dominance in Kernel Document Clustering", Proc. ICML 2006.\n\nAll rights, including copyright, in the content of the original articles are owned by the BBC.\n\nContact Derek Greene <derek.greene@ucd.ie> for further information.\nhttp://mlg.ucd.ie/datasets/bbc.html\n\n'

In [69]:
folder_name = []
for i in os.listdir("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc\\"):
    if ".TXT" not in i:
        folder_name.append(i)
folder_name

['business', 'entertainment', 'politics', 'sport', 'tech']

In [74]:
dataset = []
for i in folder_name:
    for j in glob.glob("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc\\"+i+"\\*.txt"):
        f = open(j)
        dataset.append([i,j.split("\\")[-1],len(f.read().split())])

In [75]:
dataset = np.array(dataset)
dataset.shape

(2225, 3)

## Loops - practice problem statements

In [4]:
### An approach using 1 loop
countofstars = 8
star = ''
for i in range(1, countofstars+1):
    star = star + '* '
    print(star)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [3]:
### An approach using 2 loops and range option
countofstars = 8
for i in range(0, countofstars):
    for j in range(0, (i+1)):
        print('* ',end='')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [5]:
countofstars = 8
for i in range(countofstars, 0, -1):
    star = ''
    for j in range(1, i+1):
        star = star + '* '
    print(star)

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
countofstars = 8
for i in range(0, countofstars):
    for k in range(countofstars, i, -1):
        print(end=' ')
    for j in range(0, (i+1)):
        print('* ',end='')
    print()

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *

In [7]:
countofstars = 8
for i in range(countofstars, 0 , -1):
    for k in range(i, countofstars):
        print(end=' ')
    for j in range(0, i):
        print('* ',end='')
    print()

* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [8]:
countofstars = 8
for i in range(0, countofstars):
    for k in range(countofstars, i, -1):
        print(end=' ')
    for j in range(0, (i+1)):
        print('* ',end='')
    print()

for i in range(countofstars-1, 0 , -1):
    for k in range(i, countofstars+1):
        print(end=' ')
    for j in range(0, i):
        print('* ',end='')
    print()

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
  * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [9]:
alphabets = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
for i in range(0,len(alphabets)):
    print(alphabets[i]+alphabets[-(i+1)])

az
by
cx
dw
ev
fu
gt
hs
ir
jq
kp
lo
mn
nm
ol
pk
qj
ri
sh
tg
uf
ve
wd
xc
yb
za

In [11]:
### Approach using 2 loops
data = 'I like data science'
for i in range(0, len(data)+1):
    for j in range(0,i):
        print(data[j],end='')
    print()

I
I
I l
I li
I lik
I like
I like
I like d
I like da
I like dat
I like data
I like data
I like data s
I like data sc
I like data sci
I like data scie
I like data scien
I like data scienc
I like data science

In [12]:
### Approach using 1 loop
data = 'I like data science'
for i in range(0, len(data)+1):
    print(data[0:i])

I
I
I l
I li
I lik
I like
I like
I like d
I like da
I like dat
I like data
I like data
I like data s
I like data sc
I like data sci
I like data scie
I like data scien
I like data scienc
I like data science

In [13]:
##1. Write a Python function to find the Max of three numbers. 
data = [4,8,2]

maxval = 0
for i in data:
    if i > maxval:
        maxval = i
print(maxval)

##1. Write a Python function to find the Max of three numbers. 
import numpy as np
data = np.array(data)
data.max()

8

8

In [14]:
##2. Write a Python function to sum all the numbers in a list. 
data = [4,8,2]

sum = 0
for i in data:
    sum = sum + i
print(sum)

##2. Write a Python function to sum all the numbers in a list. 

data = np.array(data)
data.sum()

14

14

In [15]:
##3. Write a Python function to multiply all the numbers in a list. 
data = [4,8,2]

product = 1
for i in data:
    product = product * i
print(product)

64

In [16]:
## 4. Write a Python function to calculate the factorial of a number (a non- negative integer). The function accepts the 
## number as an argument 
number = int(input())
if number > 0:
    product = 1
    for i in range(1,number+1):
        product = product * i
print(product)

5
120

In [17]:
## 5. Write a Python function to check whether a number is in a given range 
minval = 5
maxval = 23

number = int(input())
if (number > minval) & (number < maxval):
    print("{} is between {} and {}".format(number, minval, maxval))
else:
    print("{} is NOT between {} and {}".format(number, minval, maxval))

18
18 is between 5 and 23

In [18]:
## 6. Write a Python function that accepts a string and calculate the number of upper case letters and lower-case letters. 
data = input()
uppercounter = 0
lowercounter = 0
for i in data:
    if i.isupper():
        uppercounter = uppercounter + 1
    elif i.islower():
        lowercounter = lowercounter + 1

print("Number of upper case chars is {} , and number of lower case characters is {}".format(uppercounter, lowercounter))

Hello My Name Is Sanooj Padmakumar
Number of upper case chars is 6 , and number of lower case characters is 23

In [19]:
## 7. Write a Python function that takes a list and returns a new list with unique elements of the first list. 
import numpy as np
data = input()
data = data.split()
print(np.unique(data))

uniquelist = []
for i in data:
    if(i not in uniquelist):
        uniquelist.append(i)

print(uniquelist)

1 2 1 2 3 4 5 4 hi hello hi
['1' '2' '3' '4' '5' 'hello' 'hi']
['1', '2', '3', '4', '5', 'hi', 'hello']

In [20]:
## 8. Write a Python function that takes a number as a parameter and check the number is prime or not. 
number = int(input())
flag = 0
if number == 1:
    print('{} is not a prime number'.format(number))
else:
    for i in range(2, number):
        if(number%i == 0):
            flag = 1
            print('{} is not a prime number'.format(number))
            break
    if(flag == 0):
        print('{} is a prime number'.format(number))

23
23 is a prime number

In [21]:
## 9. Write a Python program to print the even numbers from a given list. 
data = [0,1,2,3,4,5,6,7,8,9,10]
even = []
for i in data:
    if i%2 ==0:
        even.append(i)
print(even)

[0, 2, 4, 6, 8, 10]

In [22]:
## 10. Write a Python function to check whether a number is perfect or not. 
## Perfect number, a positive integer that is equal to the sum of its proper divisors. 
number = int(input())
sum = 0
for i in range(1,number):
    if(number % i == 0):
        sum = sum + i

if sum == number:
    print('{} is a perfect number'.format(number))
else:
    print('{} is NOT a perfect number'.format(number))

6
6 is a perfect number

In [23]:
## 11. Write a Python function that checks whether a passed string is palindrome or not. 
data = input()
flag = 0
for i in range(0,len(data)):
    if not (data[i] == data[-(i+1)]):
        flag = 1
        print('{} is not a palindrome'.format(data))
        break
if flag == 0:
    print('{} is a palindrome'.format(data))

malayalam
malayalam is a palindrome

In [24]:
## 12. Write a Python function that prints out the first n rows of Pascal's triangle.
rows = int(input())

1

In [25]:
## 13. Write a Python function to check whether a string is a pangram or not. 
## the quick brown fox jumps over the lazy dog
alphabets = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
data = input()
flag = 0
for i in alphabets:
    if i not in data:
        flag = 1
        print('{} is not a pangram'.format(data))
        break

if flag == 0:
    print('"{}" is a pangram'.format(data))

the quick brown fox jumps over the lazy dog
"the quick brown fox jumps over the lazy dog" is a pangram

In [26]:
## 14. Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a 
## hyphen-separated sequence after sorting them alphabetically. 
data = input()
data = data.split('-')
data.sort()
print(data)

a-b-e-z-x-a
['a', 'a', 'b', 'e', 'x', 'z']

In [27]:
## 15. Write a Python function to create and print a list where the values are Square of numbers between 1 and 30 
squarelist = []
for i in range(1,31):
    squarelist.append(pow(i,2))
print(squarelist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

## BBC data set - classifying the articles

In [1]:
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'
import os
import glob

bbcdirs = os.listdir("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc")
bbcdirs[0:5]

['business', 'entertainment', 'politics', 'README.TXT', 'sport']

In [2]:
## Iterate and get all the folders
folder_name = []
for i in os.listdir("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc\\"):
    if ".TXT" not in i:
        folder_name.append(i)
folder_name

['business', 'entertainment', 'politics', 'sport', 'tech']

In [3]:
dataset = []
for i in folder_name:
    for j in glob.glob("D:\\sanooj\\datascience\\data\\bbc-fulltext\\bbc\\"+i+"\\*.txt"):
        f = open(j)
        content = f.read()
        dataset.append([i,j.split("\\")[-1],content.lower(),len(content.split())])

dataset[0:1]
len(dataset)

[['business',
  '001.txt',
  'ad sales boost time warner profit\n\nquarterly profits at us media giant timewarner jumped 76% to $1.13bn (â£600m) for the three months to december, from $639m year-earlier.\n\nthe firm, which is now one of the biggest investors in google, benefited from sales of high-speed internet connections and higher advert sales. timewarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn. its profits were buoyed by one-off gains which offset a profit dip at warner bros, and less users for aol.\n\ntime warner said on friday that it now owns 8% of search-engine google. but its own internet business, aol, had has mixed fortunes. it lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters. however, the company said aol\'s underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues. it hopes to increase subscribers by offering the online service free to timewarner internet customers and will try to sign up aol\'s existing customers for high-speed broadband. timewarner also has to restate 2000 and 2003 results following a probe by the us securities exchange commission (sec), which is close to concluding.\n\ntime warner\'s fourth quarter profits were slightly better than analysts\' expectations. but its film division saw profits slump 27% to $284m, helped by box-office flops alexander and catwoman, a sharp contrast to year-earlier, when the third and final film in the lord of the rings trilogy boosted results. for the full-year, timewarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn. "our financial performance was strong, meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility," chairman and chief executive richard parsons said. for 2005, timewarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins.\n\ntimewarner is to restate its accounts as part of efforts to resolve an inquiry into aol by us market regulators. it has already offered to pay $300m to settle charges, in a deal that is under review by the sec. the company said it was unable to estimate the amount it needed to set aside for legal reserves, which it previously set at $500m. it intends to adjust the way it accounts for a deal with german music publisher bertelsmann\'s purchase of a stake in aol europe, which it had reported as advertising revenue. it will now book the sale of its stake in aol europe as a loss on the value of that stake.\n',
  421]]

2225

In [4]:
dataset = np.array(dataset)
dataset.shape
## normal count 65000
## after checking lower case 60616
## after checking stop words 60491
stopwords = ['i','me','my','myself','we','our','ours','ourselves','you','your','yours','yourself','yourselves','he','him','his','himself','she','her','hers','herself','it','its','itself','they','them','their','theirs','themselves','what','which','who','whom','this','that','these','those','am','is','are','was','were','be','been','being','have','has','had','having','do','does','did','doing','a','an','the','and','but','if','or','because','as','until','while','of','at','by','for','with','about','against','between','into','through','during','before','after','above','below','to','from','up','down','in','out','on','off','over','under','again','further','then','once','here','there','when','where','why','how','all','any','both','each','few','more','most','other','some','such','no','nor','not','only','own','same','so','than','too','very','s','t','can','will','just','don','should','now']
words = []
for article in dataset[:,2]:
    for word in article.split():
        if word.lower() not in words:
            if word.lower() not in stopwords:
                words.append(word.lower())
len(words)

(2225, 4)

60491

In [5]:
words[0:5]

['ad', 'sales', 'boost', 'time', 'warner']

In [16]:
## for each word let's create a new list that holds 
## category, filename, total number of words in the file, unique word, count of unique word,
## probability of the word in the file

## it took 5 hours to process 840 articles and then the process died. So only doing this for a subset of articles
## ['business', 'entertainment', 'politics', 'sport', 'tech'] -- idea is to do this only for 50 articles on each category
import datetime
modified_dataset = []
articlecounter = 0
max_article_to_scan = 50
businessarticlecounter = 0
entertainmentarticlecounter = 0
politicsarticlecounter = 0
sportsarticlecounter = 0
techarticlecounter = 0

dataset = np.array(dataset)
words = np.array(words)
for article in dataset:
    articlecounter = articlecounter + 1
    ## print(' {} processing {} article {} '.format(datetime.datetime.now(),category, articlecounter))
    category = article[0]
    
    if category == 'business':
        if businessarticlecounter == max_article_to_scan:
            continue
        businessarticlecounter = businessarticlecounter + 1
        #print(' {} processing {} article {} '.format(datetime.datetime.now(), category, businessarticlecounter))
    elif category == 'entertainment':
        if entertainmentarticlecounter == max_article_to_scan:
            continue
        entertainmentarticlecounter = entertainmentarticlecounter + 1
        #print(' {} processing {} article {} '.format(datetime.datetime.now(), category, entertainmentarticlecounter))
    elif category == 'politics':
        if politicsarticlecounter == max_article_to_scan:
            continue
        politicsarticlecounter = politicsarticlecounter + 1
        #print(' {} processing {} article {} '.format(datetime.datetime.now(), category, politicsarticlecounter))
    elif category == 'sport':
        if sportsarticlecounter == max_article_to_scan:
            continue
        sportsarticlecounter = sportsarticlecounter +1
        #print(' {} processing {} article {} '.format(datetime.datetime.now(), category, sportsarticlecounter))
    elif category == 'tech':
        if techarticlecounter == max_article_to_scan:
            continue
        techarticlecounter = techarticlecounter + 1
        #print(' {} processing {} article {} '.format(datetime.datetime.now(), category, techarticlecounter))
        
    filename = article[1]
    content = article[2] 
    totalwords = article[3]
    for word in words:
        occurrence_of_current_word = content.count(word)
        probability_of_current_word = int(occurrence_of_current_word)/int(totalwords)
        modified_dataset.append([category,filename,totalwords,word,occurrence_of_current_word,probability_of_current_word])
    #len(modified_dataset)   
modified_dataset[0:5]

[['business', '001.txt', '421', 'ad', 9, 0.021377672209026127],
 ['business', '001.txt', '421', 'sales', 4, 0.009501187648456057],
 ['business', '001.txt', '421', 'boost', 2, 0.004750593824228029],
 ['business', '001.txt', '421', 'time', 10, 0.023752969121140142],
 ['business', '001.txt', '421', 'warner', 11, 0.026128266033254157]]